<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/styles.css">
    <title>{{title}}</title>
</head>
<body>
    <nav>
        <ul class="navlist">
            <li><a href="/home">home</a></li>
            <li><a href="/shop">shop</a></li>
            <li><a href="/recipes">recipes</a></li>
            <li><a href="/chefs">chefs</a></li>
            <li><a href="/contact">contact</a></li>
        </ul>
    </nav>

    <div class="main">