<h1 id="mcu">Contact Us</h2>
<div class="flexmain">
    <div id="contactform">
        <form>
            <input type="text" placeholder="Full Name"><br>
            <input type="email" placeholder="E-Mail"><br>
            <textarea placeholder="Message"></textarea><br>
            <input type="submit" value="Contact Us">
        </form>
    </div>

    <div id="inform">
        <h3>Contact</h3>
        <span>restaurant3000@gmail.com</span>
        <br><br><br>
        <h3>Based in</h3>
        <span>Olsztyn, Kołobrzeska 9</span>
    </div>
</div>
