<div class="custom-body">
    <div class="section-menu">
        <div class="button-row">
            <button class="btn2">
            <img src="/images/pizza.jpg" alt="1" width="200">
            Pizza
        </button>
        <button class="btn2">
            <img src="/images/vegi.jpg" alt="2" width="200">
            Pizza Vegi
        </button>
        <button class="btn2">
            <img src="/images/kids.jpg" alt="3" width="200">
            Pizza Kids
        </button>
        </div>
    </div>
    <div class="section-menu">
        <div class="button-row">
            <button class="btn2">
            <img src="/images/lazania.jpg" alt="4" width="200">
            Lazania
        </button>
        <button class="btn2">
            <img src="/images/bolognese.jpg" alt="5" width="200">
            Bolognese
        </button>
        <button class="btn2">
            <img src="/images/carbonara.jpg" alt="6" width="200">
            Carbonara
        </button>
        </div>
    </div>
</div>