<div class="container">
    <div class="block">
        <img src="/images/carbonara.jpg" alt="1">
        <h2>Spaghetti Carbonara</h2>
        <p>Spaghetti carbonara to jedno z najpyszniejszych i najpopularniejszych dań kuchni Włoskiej. 
            Sprawdź nasz przepis i zobacz, jak smakuje prawdziwa Carbonara. Tradycyjna, prosta, pyszna i bez zbędnych składników!</p>
        <button class="btn1">More here</button>
    </div>
    <div class="block">
        <img src="/images/lazania.jpg" alt="2">
        <h2>Lazania</h2>
        <p>Pyszna i super prosta do zrobienia lazania. To nasza polska wersja lasagne z mięsem mielonym. 
            Przepis opisałam krok po kroku razem ze zdjęciami pomocniczymi. Lazania fantastyczna propozycja na sycący obiad.</p>
        <button class="btn1">More here</button>
    </div>
    <div class="block">
        <img src="/images/bolognese.jpg" alt="3">
        <h2>Bolognese</h2>
        <p>Aby zrobić pyszne spaghetti najważniejsze jest dobre mięso wołowe z odrobiną wieprzowiny, świeże warzywa, wysokiej jakości makaron oraz dodatki. 
            Zapraszam po nasz najlepszy i sprawdzony przepis na to danie.</p>
        <button class="btn1">More here</button>
    </div>
</div>
