
<body class="body-shop">
    <div class="button-container">
        <div class="btn3">
            <img class="btn3-img" src="/images/product1.jpg" alt="Продукт 1">
            <div class="button-info">
                <p class="product-description">Описание продукта 1</p>
                <p class="product-price">Цена: $10</p>
            </div>
        </div>
        <div class="btn3">
            <img class="btn3-img" src="/images/product2.jpg" alt="Продукт 2">
            <div class="button-info">
                <p class="product-description">Описание продукта 2</p>
                <p class="product-price">Price: $20</p>
            </div>
        </div>
        <div class="btn3">
            <img class="btn3-img" src="/images/product3.jpg" alt="Продукт 3">
            <div class="button-info">
                <p class="product-description">Описание продукта 3</p>
                <p class="product-price">Price: $30</p>
            </div>
        </div>
        <div class="btn3">
            <img class="btn3-img" src="/images/product4.jpg" alt="Продукт 4">
            <div class="button-info">
                <p class="product-description">Описание продукта 4</p>
                <p class="product-price">Price: $30</p>
            </div>
        </div>
    </div>
</body>

