/* коментярями я буду позначати важливу механіку сторінки
   тому, якщо коментарів не буде, можна щось змінити
*/

* {
    margin: 0; /**/
    padding: 0; /**/
    box-sizing: border-box; /**/
    font-family: monospace;
}

#bdiv {
    width:100px;
    height:100px;
    background-image:linear-gradient(red, lime, blue);
    display:inline-flex;
    justify-content:center;
    align-items:center
}

#nums {
    display: inline-block;
}

nav {
    height: 10vh; /**/
    border-width: 0 0 1px 0;
    border-color: black;
    border-style: solid;
    display: flex; /**/
    justify-content: center; /**/
    align-items: center; /**/
    background-color:rgb(99, 79, 50);
}

.main {
    min-height: 80vh; /**/
    background-color: rgb(222, 213, 159);
}

footer {
    min-height: 10vh; /**/
    border-width: 1px 0 0 0;
    border-color: black;
    border-style: solid;
    background-color:rgb(99, 79, 50);   
}

.navlist {
    width: min-content; /**/
    display: flex; /**/
    list-style-type: none;
}

.navlist li {
    padding: 5px 25px;
}

.navlist li a {
    text-decoration: none;
    color: black;
    font-size: 2em;
    text-transform: uppercase;
}

.navlist li a:hover {
    text-decoration: underline;
}

#contactform {
    width: 250px;
    margin-top: 50px;
}

#contactform form {
    width: inherit;
}

#contactform form input, #contactform form textarea {
    padding: 10px 15px;
    margin: 10px 0;
    width: inherit;
}

#contactform h2 {
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.5em;
}

.flexmain {
    display: flex;
    justify-content: center;
    gap: 100px;
}

#inform {
    width: 350px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin-top: 50px;
    text-align: center;
}

#inform {
    font-size: 2em;
}

#inform * {
    margin: 10px 0;
}

#mcu {
    font-size: 4em;
    text-align: center;
    padding-top: 50px;
}