/* коментярями я буду позначати важливу механіку сторінки
   тому, якщо коментарів не буде, можна щось змінити
*/

* {
    margin: 0; /**/
    padding: 0; /**/
    box-sizing: border-box; /**/
    font-family: Georgia, serif;;
}

#bdiv {
    width:100px;
    height:100px;
    background-image:linear-gradient(red, lime, blue);
    display:inline-flex;
    justify-content:center;
    align-items:center
}

#nums {
    display: inline-block;
}

nav {
    height: 10vh; /**/
    border-width: 0 0 1px 0;
    border-color: rgb(119, 47, 26);
    border-style: solid;
    display: flex; /**/
    justify-content: center; /**/
    align-items: center; /**/
    background-color:rgb(88, 81, 35);
}


.main {
    min-height: 80vh; /**/
    background-color: rgba(238, 194, 112, 0.678);
}

footer {
    min-height: 10vh; /**/
    border-width: 1px 0 0 0;
    border-color: rgb(119, 47, 26);
    border-style: solid;
    background-color:rgb(88, 81, 35);   
}

.navlist {
    width: min-content; /**/
    display: flex; /**/
    list-style-type: none;
}

.navlist li {
    padding: 5px 25px;
}

.navlist li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    text-transform: uppercase;
}

.navlist li a:hover {
    text-decoration: underline;
}

#contactform {
    width: 250px;
    margin-top: 50px;
}

#contactform form {
    width: inherit;
}

#contactform form input, #contactform form textarea {
    padding: 10px 15px;
    margin: 10px 0;
    width: inherit;
}

#contactform h2 {
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.5em;
}

.flexmain {
    display: flex;
    justify-content: center;
    gap: 100px;
}

#inform {
    width: 350px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin-top: 50px;
    text-align: center;
}

#inform {
    font-size: 1.5em;
}

#inform * {
    margin: 10px 0;
}

#mcu {
    font-size: 4em;
    text-align: center;
    padding-top: 50px;
}

.container {
    display: flex;
    justify-content: space-between; /* Распределение блоков по ширине */
}

.block {
    flex-basis: 30%; /* Устанавливаем ширину блока в 30% от контейнера */
    padding: 20px;
    border: none;
    text-align: center;
}

h2 {
    margin: 10px 0;
}

.btn1 {
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: rgb(245, 133, 73);
    box-shadow: 0 5px 0 rgb(245, 133, 73);
    margin-top: 30px;
    height: 50px;
    width: 70px;
}

.btn1:hover {
    background: rgba(245, 133, 73, 0.922);
    box-shadow: none;
    position: relative;
    top: 5px;
}

.body-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.btn2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 100px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    width: 30em;
    height: 16em;
}

.btn2 img {
    max-width: auto; /* Регулируйте размер изображения */
    max-height: auto; /* Регулируйте размер изображения */
    margin-bottom: 10px; /* Регулируйте отступ между изображением и текстом */
}

.button-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Добавляем эту строку, чтобы кнопки были в один ряд */
    margin-bottom: 20px; /* Отступ между рядами кнопок */
}


.body-shop {
    margin: 0;
    padding: 0;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

.btn3 {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Отступ сверху между кнопками */
    background-color: rgb(119, 47, 26);
    color: rgba(240, 248, 255, 0.779);
    width: 30em;
    height: 13em;
}

.btn3-img {
    max-width: 100px; /* Размер изображения */
    max-height: 100px; /* Размер изображения */
    margin-right: 10px; /* Отступ между изображением и описанием */
}

.button-info {
    display: flex;
    flex-direction: column;
}

.product-description {
    margin-bottom: 5px; /* Отступ между описанием и ценой */
}

.product-price {
    font-weight: bold; /* Жирный шрифт для цены */
}

.makaroncontainer {
    width: 300px;
    height: 281px;
    text-align: center;
}

.mkrncaption {
    width: 250px;
    height: 27px;
    left: 27px;
    position: relative;
    top: -140px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 25px black;
    z-index: 2;
}

.radialblack {
    background-image: radial-gradient(50% 15% at center, rgba(0, 0, 0, 0.5) 15%, rgba(255, 255, 255, 0));
    width: 250px;
    height: 250px;
    position: relative;
    float: left;
    z-index: 1;
    left: 25px;
    top: -281px;
}

.darktrans {
    width: 250px;
    float: left;
    height: 250px;
    position: relative;
    z-index: 1;
    left: 25px;
    top: -531px;
    transition: 0.25s background-color;
}

.darktrans:hover {
    background: rgba(50, 50, 50, 0.5);
}

.figure img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.productflex {
    width: 1250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bghome {
    width: 100%;
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    background-image: url("/images/banner_head-removebg-preview.png");
}

.homecaption {
    position: relative;
    left: 75px;
    font-size: 4em;
    color:ivory;
    text-shadow: 1px -1px bisque, -1px -1px bisque, -1px 1px bisque, 1px 1px bisque;
    text-align: center;
}

.headerhome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin-bottom: 10px;
}

.flexcontect {
    display: flex;
    justify-content: space-between;
}

.homecontent h3, h4 {
    color:ivory;
    text-shadow: 1px -1px bisque, -1px -1px bisque, -1px 1px bisque, 1px 1px bisque;
    margin-bottom: 20px;
    font-size: 1.5em;
    margin-left: 20px;
}

.homecontent p {
    margin-bottom: 35px;
    font-size: 20px;
}

.acontent {
    text-decoration: none;
    color: rgb(88, 81, 35);
}

.acontent:hover {
    text-decoration:underline;
}

@media (min-width: 600px) {
    .homecontent {
        width: 600px;
    }
}